@import "../var.scss";
.wrapper {
  padding:  20px;
  position: relative;
}
.search {
  width: 280px;
  margin-bottom: 20px;
}
.error {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  right: 10px;
  max-width: 360px;
  min-width: 200px;
  padding: 15px 20px;
  border: 2px solid rgb(161, 26, 26);
  color: rgb(17, 15, 15);
  background-color: rgb(252, 140, 140);
}

.tableUsers {
  margin-top: 30px;
}

.link {
  text-decoration: none;
}
.link:visited {
  color: $color-visited-link;
}
.hover {
  cursor: pointer;
}