@import "../var.scss";
.wrapper {
  padding:  20px;
  position: relative;
}
.search {
  width: 280px;
  margin-bottom: 20px;
}
.error {
  @include error;
}

.tableUsers {
  margin-top: 30px;
}

.link {
  text-decoration: none;
}
.link:visited {
  color: $color-visited-link;
}
.hover {
  cursor: pointer;
}