@import '../var';

.wrapper {

}
.error {
   @include error;
  }

.avatarBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
}
.avatar {
   width: 40%;
}
.avatarImg {
    max-width: 360px;
    @media screen and (max-width: 750px) {
        max-width: 200px;
    }
}
.info {
    width: 50%;
    @media screen and (max-width: 500px) {
        margin-top: 20px;
    }
}
.infoItem {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: left;
}
.label {
    font-weight: 700;
    margin-right: 10px;
}
.text {
    font-size: 20px;
}
.searchRepo {
    margin-top: 20px;
}
.search {
    width: 350px;
    margin:20px 0;
}
.repoiesTable {
    margin-top: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;;

}

