$color-white: rgb(255, 255, 255);
$color-visited-link: rgb(74, 114, 143);
$color-bg-header: rgb(72, 84, 95);

@mixin error {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 20px;
    right: 20px;
    max-width: 360px;
    min-width: 200px;
    padding: 15px 20px;
    border: 2px solid rgb(161, 26, 26);
    color: rgb(17, 15, 15);
    background-color: rgb(252, 140, 140);
  }